.cancelBtn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.125rem;
    border: none;
    outline: none;
    background-color: var(--error);
    color: var(--text-primary);
}

.addOrUpdateBtn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.125rem;
    border: none;
    outline: none;
    background-color: var(--success);
    color: var(--text-primary);
}

select {
    padding: 0.75rem;
    width: -webkit-fill-available;
}

.formSection {
    display: grid;
    grid-gap: 1rem;
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1.125rem;
    width: -webkit-fill-available;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: transparent;
    color: var(--text-primary);
}

.mainHeader {
    text-align: center;
}