.statsMain .statsSection {
    display: grid;
    grid-gap: 1rem;
}

.statsMain .statsSection .statsTotal, .statsMonthly {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.statsMain .statsSection .statsDigit {
    font-size: 1.5rem;
    font-weight: bold;
}

.statsMain .statsSection .statsTotal p {
    padding: 1rem;
}

.statsMain .statsSection .statsTotal .statsTotalIncome {
    background-color: #052E16;
    border: 1px solid #065F46;
    color: #34D399;
}

.statsMain .statsSection .statsTotal .statsTotalSpend {
    background-color: #450A0A;
    border: 1px solid #991B1B;
    color: #FCA5A5;
}

.statsMain .statsSection .statsTotal .statsTotalSaved {
    background-color: #1E3A8A;
    border: 1px solid #1D4ED8;
    color: #93C5FD;
}

.statsMain .statsSection .statsMonthly .statsMonthlyIncome {
    border: 1px solid #065F46;
}

.statsMain .statsSection .statsMonthly .statsMonthlyIncome .monthlyIncome {
    background-color: #052E16;
    border: 1px solid #065F46;
    color: #34D399;
    padding: 0.5rem;
    display: block;
}

.statsMain .statsSection .statsMonthly .statsMonthlyIncome span {
    display: inline-block;
    padding: 0.5rem;
}

.statsMain .statsSection .statsMonthly .statsMonthlySpend {
    border: 1px solid #991B1B;
}

.statsMain .statsSection .statsMonthly .statsMonthlySpend .monthlySpend {
    background-color: #450A0A;
    border: 1px solid #991B1B;
    color: #FCA5A5;
    padding: 0.5rem;
    display: block;
}

.statsMain .statsSection .statsMonthly .statsMonthlySpend span {
    display: inline-block;
    padding: 0.5rem;
}

.statsMain .statsSection .statsMonthly .statsMonthlySaved {
    border: 1px solid #1D4ED8;
}

.statsMain .statsSection .statsMonthly .statsMonthlySaved .monthlySaved {
    background-color: #1E3A8A;
    border: 1px solid #1D4ED8;
    color: #93C5FD;
    padding: 0.5rem;
    display: block;
}

.statsMain .statsSection .statsMonthly .statsMonthlySaved span {
    display: inline-block;
    padding: 0.5rem;
}

@media screen and (max-width: 540px) {
    .statsMain .statsSection .statsTotal, .statsMonthly {
        grid-template-columns: 1fr 1fr;
    }

    .statsMain .statsSection .statsTotal .statsTotalSaved {
        grid-column: 1/3;
    }

    .statsMain .statsSection .statsMonthly .statsMonthlySaved {
        grid-column: 1/3;
    }

    .statsMain .statsSection .statsDigit {
        font-size: 1.125rem;
        line-height: 1.5;
    }
}