.footer {
    padding: 1rem;
    background-color: var(--accent-navy);
    text-align: center;
    /* position: relative;
    bottom: 0;
    width: 100%; */
    display: grid;
    place-content: center;
}

.footerText {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footerTagline {
  font-size: 0.85rem;
  font-style: italic;
}