.header {
    padding: 1rem;
    background-color: var(--accent-navy);
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    place-content: center;
}

.header .logout {
    border: none;
    padding: 0.5rem 0.25rem;
    outline: none;
    cursor: pointer;
    background-color: var(--error);
    color: var(--text-primary);
    transition: background-color 1s;
    height: -webkit-fill-available;
}

.header .quickLinks {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
}

.header .quickLinks .homeLink {
    text-decoration: none;
    padding: 0.5rem 0.25rem;
    outline: none;
    cursor: pointer;
    background-color: var(--accent-blue);
    color: var(--text-primary);
    height: -webkit-fill-available;
}