.layout {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: max-content auto 100px;
    height: 100vh;
}

@media screen and (max-width: 400px) {
    .layout {
        grid-template-rows: auto calc(100vh - 200px) 100px;
    }
}

@media screen and (max-width: 344px) {
    .layout {
        grid-template-rows: auto calc(100vh - 100px) 100px;
    }
}