.expenses {
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
}

.expenses .allTogether {
    display: grid;
    grid-gap: 1rem;
    background-color: var(--accent-charcoal);
    padding: 1rem;
    z-index: 100;
}

.expenses h1 {
    text-align: center;
}

.expenses .addExpensesBtn {
    text-align: center;
    text-decoration: none;
}

.expenses .addExpensesBtn button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1rem;
    background-color: var(--success);
    color: var(--text-primary);
    font-size: 1.25rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    color: var(--text-primary);
}

.expenses .expenses_filter {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 1rem;
}

.expenses .expenses_filter input[type="date"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.expenses .expenses_filter select {
    padding: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.expenses .expensesList {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    justify-content: center;
}

.expenses .addExpensesBtnHolder {
    position: fixed;
    right: 15%;
    bottom: 15%;
}

@media screen and (max-width: 1024px) {
    .expenses .addExpensesBtnHolder {
        right: 10%;
        bottom: 15%;
    }
}

@media screen and (max-width: 920px) {
    .expenses .addExpensesBtnHolder {
        right: 5%;
        bottom: 10%;
    }
}

@media screen and (max-width: 820px) {
    .expenses .addExpensesBtnHolder {
        right: 2.5%;
        bottom: 10%;
    }
}

@media screen and (max-width: 768px) {
    .expenses .addExpensesBtnHolder {
        right: 2%;
        bottom: 10%;
    }
}

@media screen and (max-width: 540px) {
    .expenses .expenses_filter {
        grid-auto-flow: unset;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .expenses .expenses_filter label {
        font-size: 0.75rem;
    }

    .expenses .addExpensesBtnHolder {
        right: 5%;
        bottom: 15%;
    }
}