.home {
    height: 100vh;
    display: grid;
    place-content: center;
}

.credentials {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
}

.link {
    display: grid;
    place-content: center;
    width: 10rem;
    height: 10rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-primary);
    transition: background-color 1s;
}

.login {
    background-color: var(--success);
}

.signup {
    background-color: var(--accent-blue);
}

.login:hover {
    background-color: rgba(16, 185, 129, 0.8);
    border: 2px solid var(--success);
}

.signup:hover {
    background-color: rgba(59, 130, 246, 0.8);
    border: 2px solid var(--accent-blue);
}