.resetPassword {
    height: 100vh;
    display: grid;
    place-content: center;
}

.resetPassword .pwdResetBtn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.125rem;
    border: none;
    outline: none;
    background-color: var(--accent-blue);
    color: var(--text-primary);
}

.resetPassword p {
    padding-left: 1rem;
}

.resetPassword p a {
    text-decoration: none;
    color: var(--warning);
}