.todos {
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
}

.todos h1 {
    text-align: center;
}

.todos .addTodosBtn {
    text-align: center;
}

.todos .addTodosBtn button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1rem;
    /* width: 100%; */
    background-color: var(--success);
    color: var(--text-primary);
    font-size: 1.25rem;
}

.todos .todos_filter {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 1rem;
}

.todos .todos_filter input[type="date"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.todos .todos_filter select {
    padding: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.todos .todosList {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .todos .todos_filter {
        grid-auto-flow: unset;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}