.todos {
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
}

.todos .allTogether {
    display: grid;
    grid-gap: 1rem;
    background-color: var(--accent-charcoal);
    padding: 1rem;
    z-index: 100;
}

.todos h1 {
    text-align: center;
}

.todos .addTodosBtn {
    text-align: center;
    text-decoration: none;
}

.todos .addTodosBtn button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1rem;
    background-color: var(--success);
    font-size: 1.25rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    color: var(--text-primary);
}

.todos .todos_filter {
    display: grid;
    grid-gap: 1rem;
}

.todos .todos_filter .todosFiltersHolder {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 1.125rem;
}

.todos .todos_filter input[type="date"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.todos .todos_filter select {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--accent-cyan);
    color: var(--text-primary);
}

.todos .todosList {
    display: grid;
    grid-gap: 1rem;
    width: 75%;
    justify-self: center;
}

.todos .addTodosBtnHolder {
    position: fixed;
    right: 15%;
    bottom: 15%;
}

@media screen and (max-width: 1024px) {
    .todos .addTodosBtnHolder {
        right: 5%;
        bottom: 15%;
    }
}

@media screen and (max-width: 860px) {
    .todos .todosList {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .todos .addTodosBtnHolder {
        right: 10%;
        bottom: 12.5%;
    }
}

@media screen and (max-width: 540px) {

    .todos .todos_filter .todosFiltersHolder {
        font-size: 0.75rem;
    }

    .todos .todos_filter select {
        font-size: 0.75rem;
    }

    .todos .todos_filter input[type="date"] {
        font-size: 0.75rem;
    }

    .todos .todos_filter label {
        font-size: 0.75rem;
    }

    .todos .addTodosBtnHolder {
        right: 7.5%;
        bottom: 20%;
    }
}